#School{
    margin-top: -12rem;
}
.school__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.year{
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.year:hover{
    background: transparent;
    border-color: var(--color-primary--variant);
    cursor: default;
}

.year__head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}

.year__head h3{
    color: var(--color-bg);
    font-size: 1.75rem;
    text-align: center;
}

.class__list {
    padding: 2rem;
}

.class__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.82rem;
}

.class__list_icon {
    color: var(--color-primary);
}

.class__list p {
    font-size: 1.32rem;
}

/*Medium Devices media queries*/
@media screen and (max-width: 1800px){

    #School{
        margin-top: 21rem;
        margin-bottom: 21rem;
    }

    .school__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .year{
        height: auto;
    }
  }

  @media screen and (max-width: 1250px){
    #School{
        margin-top: 10rem;
    }
  }

  @media screen and (min-width: 900px) and (max-width: 1249px){
    #School{
        margin-top: 28rem;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 899px){
    #School{
        margin-top: 20rem;
    }
  }
  
  /*Small Devices media queries*/
  @media screen and (max-width: 650px){

    #School{
        margin-top: 45rem;
        margin-bottom: 201rem;
    }
    
    .school__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
  }
