#About{
    margin-top: 3.2rem;
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me{
    width: 100%;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about__me-photo{
    border-radius: 2rem;
    overflow: hidden;
    transform: translateX(1.75rem);
    height: 100%;
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    height: 25vh;
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    color: var(--color-primary);
}

.about__icon {
    color: var(--color-light);
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
}

.about__card h5{
    font-size: 2rem;
}

.about__card small{
    font-size: 1.12rem;
    color: var(--color-white);
}

.about__content p {
    margin: 2rem 0 2.5rem;
    color: var(--color-light);
    font-size: 1.5rem;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

/*Medium Devices media queries*/
@media screen and (max-width: 1800px){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }

    .about__me-photo{
        border-radius: 2rem;
        overflow: hidden;
        width: 70%;
        height: 100%;
        margin-top: -2rem;
        transform: translateX(0.70rem);
    }

    .about__card{
        height: 35vh;
    }

    p{
        margin-top: 3rem;
    }

  }

  @media screen and (max-width: 1250px){
    .about__me-photo{
        width: 100%;
        height: 100%;
    }

    .about__card{
        height: 20vh;
    }

    .about__icon {
        font-size: 2.4rem;
        margin-bottom: 0.75rem;
    }
    
    .about__card h5{
        font-size: 1.42rem;
    }
  }

  @media screen and (min-width: 900px) and (max-width: 1249px){
    .about__card{
        height: 28vh;
    }
}

@media screen and (min-width: 601px) and (max-width: 899px){
    .about__card small{
        font-size: 0.9rem;
    }

    .about__card{
        height: 25vh;
    }

    .about__card h5{
        font-size: 1.3rem;
    }

    .about__icon {
        font-size: 1.5rem;
    }
}
  
  /*Small Devices media queries*/
  @media screen and (max-width: 600px){
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    
    .about__cards{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about__content{
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
    
    .about__card{
        height: 23vh;
    }

    .about__icon {
        font-size: 1.80rem;
        margin-bottom: 0.75rem;
    }
    
    .about__card h5{
        font-size: 1.4rem;
    }

    p{
        margin-top: 3rem;
    }

    .about__me-photo{
        transform: translateX(0.25rem);
    }
  }

  @media screen and (max-width: 400px){
    .about__card{
        height: 26vh;
    }

    .about__icon {
        font-size: 1.3rem;
        margin-bottom: 0.75rem;
    }
    
    .about__card h5{
        font-size: 1rem;
    }
  }
