#Contact{
    margin-top: 1200px;
    margin-bottom: 100px;
}

.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--tranistion);
    width: 300px;
    height: 175px;
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 24px;
    margin-bottom: 8px
}

.contact__option a{
    margin-top: 11px;
    display: inline-block;
    font-size: 13px;
}

/*EMAIL SECTION*/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea{
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

textarea{
    font-size: 20px;
    height: 200px;
    resize: none;
}