#Contact{
    margin-top: 78rem;
    margin-bottom: 15.6rem;
}

.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 1.25rem;
    border-radius: 1.25rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--tranistion);
    max-width: 18.75rem;
    max-height: 18.75rem;
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1.2rem;
}

/*EMAIL SECTION*/
form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

input,
textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

textarea{
    font-size: 1.25rem;
    height: 12.5rem;
    resize: none;
}

/*Medium Devices media queries*/
@media screen and (max-width: 1800px){

    #Contact{
        margin-top: 120rem;
        margin-bottom: 35rem;
    }

    .contact__container{
        grid-template-columns: 1fr;
        gap: 2rem; 
    }
  }
  
  /*Small Devices media queries*/
  @media screen and (max-width: 600px){

    #Contact{
        margin-top: 120rem;
        margin-bottom: 35rem;
    }
    
    .contact__container {
        width: var(--container-width-sm);
    }
  }