#footer__id{
    margin-top: -31.25rem;
    height: 0.006rem;
}

footer {
    background: var(--color-primary);
    padding: 5rem;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}

.footer__name {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.75rem;
    display: block;
}

.footer__links{
    color: var(--color-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 5.65rem;
    font-size: 1.5rem;
    list-style-type: none
}

  /*Small Devices media queries*/
  @media screen and (max-width: 600px){
    .footer__links {
        flex-direction: column;
        gap: 1.5rem;
    }
  }
