.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 40px;
}

.project__item{
    background: var(--color-bg-variant);
    padding: 20px;
    border-radius: 32px;
    border: 1px solid transparent;
    transition: var(--transition);

}

.project__item:hover{
    background: transparent;
    border-color: var(--color-primary--variant);
    cursor: default;
}

.project__item__image{
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    max-height: 400px;
}

.project__item h3 {
    margin: 20px 0 15px;
    text-align: center;
}

.project__item__cta{
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}

/*Medium Devices media queries*/
@media screen and (max-width: 1850px){

    #Portfolio{
        margin-top: 90rem;
    }

    .portfolio__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 19px;
    }
  }
  
  /*Small Devices media queries*/
  @media screen and (max-width: 650px){

    #Portfolio{
        margin-top: 125rem;
    }

    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .project__item__image {
        max-width: 100%;  
        max-height: auto; 
    }
  }
